.btn {
    margin: 10px;
    width: 40px;
    height: 40px;
}

.inp {
    width: 250px;
    height: 40px;
}

.calc {
    background-color: grey;
    width: 40%;
    align-self: center;
    margin-inline: 30%;
}